.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; /* For positioning the background div */
}

/* Remove background from .main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1; /* Ensure content is above background */
}

/* Create a dedicated class for background */
.pageBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url('/realty_app/bg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Full-width image styles */
.fullWidthImageSection {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.imageContainer {
  max-width: 1400px;
  width: 100%;
  background-color: #20222B;
  position: relative;
}

.fullWidthImage {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1400px) {
  .imageContainer {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .fullWidthImageSection {
    height: auto;
  }
  
  .fullWidthImage {
    height: 300px;
    object-fit: cover;
  }
}