.documentsSection {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0; /* Added explicit margin */
  margin-top: -1px; /* Fix for the gap between sections */

}

.container {
  max-width: 1400px;
  width: 100%;
  background-color: #20222B;
  padding: 80px 60px;
  position: relative;
}

.title {
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 40px;
  scroll-margin-top: 300px;
}

.documentsList {
  display: flex;
  flex-direction: column;
}

.documentItem {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  border-top: 2px solid #BA9778;
}

.documentItem:last-child {
  border-bottom: 2px solid #BA9778;
}

.documentInfo {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.downloadIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #BA9778;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.downloadIcon svg {
  stroke: #BA9778;
  transition: stroke 0.3s;
}

.downloadIcon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.downloadIcon:hover svg {
  stroke: white;
}

.documentDetails {
  display: flex;
  flex-direction: column;
}

.documentTitle {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 8px 0;
}

.documentFormat {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.documentMeta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;
}

.documentDate {
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: 0 0 8px 0;
}

.documentOrg {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.downloadLink {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 60px 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  
  .documentItem {
    flex-direction: column;
    gap: 16px;
  }
  
  .documentMeta {
    align-items: flex-start;
    text-align: left;
  }
  .title {
    font-size: 38px;
    font-weight: 300;
  }
}
