.memberCard {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  position: relative;
  /* Set a fixed height for consistent layout */
  height: 480px; 
}

.imageContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  /* aspect-ratio: 3/4;  */
  background-color: #2F3140; /* Matching Figma design */
}

 .memberImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.memberInfo {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 140px;
}

.professionContainer {
  display: flex;
  font-size: 20px;
  height: 55px;
  align-items: center;
}

.memberPosition, .memberSubPosition {
  font-weight: 400;
  color: #BA9778;
  line-height: 1.2;
}

.memberName {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.3;
  color: #F1F1F1;
}

.memberDetails {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.4;
  margin-bottom: 10px;
}

.reviewsLink {
  display: flex;
  align-items: center;
  color: #BA9778;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  margin-top: auto;
}

.reviewsLink:hover {
  color: white;
}

.arrow {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .memberCard {
    height: 100%; 
    padding: 16px;
  }
  
  .imageContainer {
    aspect-ratio: 3/4;
    margin-bottom: 16px;
  }
  
  .memberInfo {
    height: 150px; /* Может вызвать конфликт со min-height */
  }
  
  .memberPosition, 
  .memberSubPosition {
    font-size: 18px;
    line-height: 1.2;
  }
  
  .memberName {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 8px;
  }
  
  .reviewsLink {
    font-size: 18px;
  }
}
